@import url("/css/header.css");
@import url("/css/corpo.css");

:root{
    --fundo: rgb(255,255,255);
    --fonte: "Poppins";
}

body{
    background-color: (var(--fundo));
    font-family: (var(--fonte));
}
.corpo__texto, .componentes{
    display: flex;
    align-items: center;
    justify-content: align;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: auto;
    font-size: 1.5vw;
    color: rgb(16, 185, 190);
    font-family: 'poppins', sans-serif;
}
.corpo_titulo{
    display: flex;
    align-items: center;
    justify-content: align;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: auto;
    font-size: 2vw;
    color: rgb(16, 185, 190);
    font-family: 'poppins', sans-serif;
}

.corpo_direito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: auto;
}

.corpo_titulo{
    font-size: 28px;
    color: rgb(16, 185, 190);
    width: 900px;
    font-family: 'poppins', sans-serif;
    justify-content: center;
}

.corpo__texto, .componentes, .texto_sinapseeletrica{
    font-size: 18px;
    color: rgb(16, 185, 190);
    width: 900px;
    font-family: 'poppins', sans-serif;
}

.corpo__imagem{
    align-items: center;
    width: 450px;
    padding: 50px;
}

.corpo_titulo_video{
    font-size: 28px;
    color: rgb(16, 185, 190);
    width: 900px;
    font-family: 'poppins', sans-serif;
    justify-content: center;
}

.corpo__video{
    width: 150px;
    height: 300px;
}

.alunos1, .alunos2, .alunos3{
    width: 150px;
}
.texto_sinapseeletrica, .texto_sinapsequimica, .texto_corpocelular, .texto_conceitosgerais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: auto;
    font-size: 18px;
    color: rgb(16, 185, 190);
    font-family: 'poppins', sans-serif;
}
.form {
    font-family: Helvetica, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    background: #f7f7f7;
  }
  .form h1 {
    background: #5868bf;
    padding: 20px 0;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    font-size:  25px;
  }
  .form input[type="text"],
  .form input[type="url"] {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
  }
  .form input[type="text"]:focus,
  .form input[type="url"]:focus {
    box-shadow: 0 0 5px #5868bf;
    padding: 3%;
    border: 1px solid #5868bf;
  }
  
  .form button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    margin: 0 auto;
    padding: 3%;
    background: #5868bf;
    border-bottom: 2px solid #5868bf;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    cursor: pointer;
  }
  .form button:hover {
    background: rgba(88,104,191, 0.5);
  }
 .cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    position: flex;
    background-color: rgb(243, 225, 59);
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex;
    padding: 40px;
}

.container__imagem{
    width: 50px;
    height: 50px;
}


.cabecalho__titulo{
    color: rgb(0, 0, 0);
    font-size: x-large;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}

.container-fluid{
    font-family: 'poppins', sans-serif;
}
.container-fluid li, .menu li{
    position: relative;
    float: left;
    border-right: 1px solid #000000
}
.container-fluid li a, .menu li a{
    text-decoration: none;
    color:#000000;
    padding: 5px 6px;
    display:block;
}
.container-fluid li a:hover, .menu li a:hover{
    background:rgb(255, 254, 254)
}
.container-fluid li ul, .menu li ul{
    position: absolute;
    background-color: rgb(247, 247, 247);
    display: none;
}
.container-fluid li:hover ul, .menu li.over ul{
    display: block;
}
