.corpo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: 4vw;
}

.corpo_direito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: 4vw;
}

.corpo_titulo{
    font-size: 28px;
    color: rgb(16, 185, 190);
    width: 900px;
    font-family: 'poppins', sans-serif;
    justify-content: center;
}


.corpo__imagem{
    align-items: center;
    width: 450px;
    padding: 50px;
}

.corpo_titulo_video{
    font-size: 28px;
    color: rgb(16, 185, 190);
    width: 900px;
    font-family: 'poppins', sans-serif;
    justify-content: center;
}
.video1, .video2, .video3, .video4{
     width: 300px;
    height: 150px;
}
.corpo__video{
    width: 150px;
    height: 300px;
}

.alunos1, .alunos2, .alunos3, .alunos4{
    width: 150px;
}
.alunos4{
    width:150px;
    height: 150px;
}

.corpo__texto, .corpo_sinapseeletrica, .corpo_sinapsequimica, .corpo_corpocelular, .corpo_conceitosgerais, .corpo__texto{
    display: flex;
    align-items: center;
    justify-content: align;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: auto;
    font-size: 1.5vw;
    color: rgb(16, 185, 190);
    font-family: 'poppins', sans-serif;
}
.titulo_sinapsequimica, .corpocelular_titulo, .conceitosgerais_titulo, .titulo_sinapseeletrica, .componentes, .corpo_titulo{
    display: flex;
    align-items: center;
    justify-content: align;
    text-align: justify;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(241, 241, 227);
    width: auto;
    font-size: 2vw;
    color: rgb(16, 185, 190);
    font-family: 'poppins', sans-serif;
}

.form {
    font-family: Helvetica, sans-serif;
    max-width: 2vw;
    margin: 0 auto;
    padding: 16px;
    background: #f7f7f7;
  }
  .form h1 {
    background: #5868bf;
    padding: 20px 0;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    font-size:  25px;
  }
  .form input[type="text"],
  .form input[type="url"] {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
  }
  .form input[type="text"]:focus,
  .form input[type="url"]:focus {
    box-shadow: 0 0 5px #5868bf;
    padding: 3%;
    border: 1px solid #5868bf;
  }
  
  .form button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    margin: 0 auto;
    padding: 3%;
    background: #5868bf;
    border-bottom: 2px solid #5868bf;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    cursor: pointer;
  }
  .form button:hover {
    background: rgba(88,104,191, 0.5);
  }
 
